body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
    color: white;
    font-family: Poppins,sans-serif;
    background: #222;
}
.container{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.box{
    padding-left: 20px;
    padding-right: 20px;
    width: 280px;
    height: 500px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    background-color: black;
}
.nav{
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    border-bottom: 1px solid #a7a7a7;
    padding-bottom: 15px;
    border-radius: 5px;
    gap: 20px;
    margin-bottom: 15px;
}
.back{
    margin-top: 15px;
    color: #a855f7;
    font-size: 20px;
    cursor: pointer;
}
.pp{
    border: 2px solid #a855f7;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.identity{
    margin-top: 5px;
    white-space: nowrap;
}
.name{
    font-weight: bold;
}
.activeStatus{
    font-size: 15px;
}
.dot{
    animation: fade 1s infinite;
}
@keyframes fade {
    0%{

    }
    
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
.videoCall button{
    border: none;
    color: white;
    background-color: #a855f7;
    padding: 10px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 20px;
    margin-top: 5px;
    cursor: pointer;
    font-family: Poppins,sans-serif;
    border-radius: 5px;
    width: 40
    px;
}
.messageBox{
    height:325px;
    width: 301.5px;
    padding: 10px;
    position: relative;
    position: absolute;
    background-color: #101010;
    top: 55%;
    left: 50.5%;
    transform: translate(-50%,-50%);
    overflow-x: hidden;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    display: none;
}
.messageWnS{
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 95%;
    left: 50.5%;
    height: 60px;
    width: 322px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    justify-content: center;
    align-items: center;
    background-color: black;
    transform: translate(-50%,-50%);
}
.messageW input{
    border-radius: 5px;
    border: none;
    height: 35px;
    width: 190px;
}
input:focus{
    outline: none;
    border: 1px solid #a855f7;
}
.messageS button{
    border: none;
    margin-left: 5px;
    height: 36px;
    width: 50px;
    background-color: #a855f7;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
input::placeholder{
    font-family: Poppins,sans-serif;
    padding: 5px;
}
.messageBox{
    
}
.inComingMessage {
    width: 250px;
    background-color: black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 20px;
    width: 250px;
    padding-left: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 15px;
}
.outGoingMessage{
    margin-left: 33px;
}
li{
    list-style: none;
    margin-bottom: 10px;
    background-color: #a855f7;
    width: 250px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom-left-radius: 15px;
}
a{
    color: #a855f7;
}