body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
    color: white;
    font-family: Poppins,sans-serif;
    background: #222;
}
.container{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.box{
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    width: 280px;
    height: 500px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    background-color: black;
}

.peer1div video{
    border-radius: 15px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 63%;
    height: 130px;
    left: 50%;
}
.peer2div video{
    border-radius: 15px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 31%;
    height: 150px;
    left: 50%;
    border: 2px solid #a855f7;
}
.controls{
    color: black;
}
.mute i{
    color: black;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 84%;
    background-color: white;
    align-items: center;
    display: flex;
    height: 45px;
    justify-content: center;
    width: 45px;
    right: 57%;
}
.callEnd i{
    border: 2px solid red;
    color: white;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 84%;
    background-color: red;
    align-items: center;
    display: flex;
    height: 60px;
    justify-content: center;
    width: 60px;
    right: 30%;
}
.blockVideo i{
    color: black;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 84%;
    background-color: white;
    align-items: center;
    display: flex;
    height: 45px;
    justify-content: center;
    width: 45px;
    right: 15%;
}
